{% extends 'autenticacao/layout.html' %}


{% block content %}

    <ul class="element">
        <li class="fa-solid fa-folder fa-xl" style="color: #f5d465;">
            <a href="{% url 'bandas:lista_de_bandas' %}">Bandas</a>
        </li>

        <li class="fa-solid fa-folder fa-xl" style="color: #f5d465;">
            <a href="{% url 'artigos:index' %}">Artigos</a>
        </li>

        <li class="fa-solid fa-folder fa-xl" style="color: #f5d465;">
            <a href="{% url 'curso:index' %}">Curso</a>
        </li>
    </ul>


{% endblock %}