{% extends 'cursos/layout.html' %}

{% block content %}

    <div class = "contentor">

        <main>
            <h1>Contactos</h1>

        </main>

       </div>
            <div class= "contactos">
                <div class="contactos-texto">
                <h3>Departamento de Engenharia Informática e Sistemas de Informação (DEISI) / ECATI</h3>

                <b>Edifício F, sala F1.6 e F.1.3</b>
                <p>Universidade Lusófona de Humanidades e Tecnologias</p>

                <br>
                <br>
                <p>Campo Grande, 376 1749-024 Lisboa</p>
                </div>
            </div>



{% endblock %}