<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lana's Journal</title>
    <style>
        body {
            background: PaleVioletRed;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <center>
            <h1>Lana's Journal</h1>
            <a href="{% url 'novaapp:about_me' %}">About Me</a>
            <span style="margin-right: 20px;"></span>
            <a href="{% url 'novaapp:journal_entrances' %}">Journal Entrances</a>
            <span style="margin-right: 20px;"></span>
            <a href="{% url 'novaapp:media' %}">Media</a>
        </center>
    </header>



    <main>
        <center>
            <h2>Hello!</h2>
            <p>My name is Lana, and this is a space where i will post about my adventures as a home cat.</p>
        </center>
        <ul>
            <li><strong>Do's:</strong> Send me treats and toys.</li>
            <li><strong>Dont's:</strong> Don't ask for partnerships, i'm to busy.</li>
        </ul>
        <p>Follow my journey!</p>

    </main>

    <footer>
        <p>&copy; 2024 Lana's Page, - Todos os direitos reservados.</p>
    </footer>

</body>
</html>