<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lana's Journal</title>
    <style>
        body {
            background: MediumPurple ;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <center>
            <h1>Journal Entrances</h1>
            <a href="{% url 'novaapp:index' %}">Index</a>
            <span style="margin-right: 20px;"></span>
            <a href="{% url 'novaapp:about_me' %}">About me</a>
            <span style="margin-right: 20px;"></span>
            <a href="{% url 'novaapp:media' %}">Media</a>
        </center>
    </header>



    <main>

        <h2>13/4/24</h2>

        <p>Today i woke up with the sound of the blinders being open. My human immeadiatly tried to pet me but i ran away because i just dindt't feel like being hugged. After a while she called me to give me my morning treat. I wasn't sure she would give me a treat today, because a few weeks ago she invented that i was "fat" and that i need to do a diet.</p>
        <p>The audacity!<p>
        <p>After that i decided to do the usual patrol of the house and make sure there were no intruders. Of course after checking all three rooms i was ABSOLUTELY exhausted and so i decided to take a 3 hour nap. I was woken up by my human giving me a hug. She then grabbed me and walked around the house with me for some reason, but i didn't complain because in the afternoon i want to sleep in her lap so i have to make her tired too so she lays on the couch.</p>
        <p>That was my day so far! <p>
        <p>Bye<p>
    </main>

    <footer>
        <p>&copy; 2024 Lana's Page, - Todos os direitos reservados.</p>
    </footer>

</body>
</html>